header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  margin-bottom: 15px;
}

header .logo_content {
  display: flex;
  align-items: center;
  gap: 15px;
}

header .logo_content h1 {
  color: var(--text-color);
  font-weight: 700;
  font-size: 16px;
}

header .nav_content .nav_itens-desktop {
  display: none;
}

header .nav_content .nav_itens .nav_links {
  color: var(--text-color);
  font-weight: 700;
  text-transform: lowercase;
  font-size: 16px;
}